<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="true"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<stringAttribute key="checked" value="[NONE]"/>
<booleanAttribute key="clearConfig" value="false"/>
<stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/remotestorage-standalone"/>
<booleanAttribute key="default" value="true"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<stringAttribute key="deselected_workspace_plugins" value="com.tantaman.ferox.webfinger.example.standalone,com.tantaman.ferox.webfinger.resource_provider.fs,ferox.tests,ferox.webfinger.test"/>
<booleanAttribute key="includeOptional" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true -Dequinox.ds.print=true -Dbundles.configuration.location=configurations -Dkeystore.file.path=resources/ONLY_FOR_TESTING -Dkeystore.file.password=password"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:ferox.remotestorage.dev.framework.workingdirectory}"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="target_bundles" value="io.netty.buffer@default:default,io.netty.codec-http@default:default,io.netty.codec@default:default,io.netty.common@default:default,io.netty.handler@default:default,io.netty.transport@default:default,javax.servlet@default:default,javax.xml@default:default,org.apache.commons.logging@default:default,org.apache.felix.configadmin@3:default,org.apache.felix.gogo.command@default:default,org.apache.felix.gogo.runtime@default:default,org.apache.felix.gogo.shell@default:default,org.eclipse.equinox.console@default:default,org.eclipse.equinox.ds@1:true,org.eclipse.equinox.util@default:default,org.eclipse.osgi.services@default:default,org.eclipse.osgi.util@default:default,org.eclipse.osgi@-1:true,org.hamcrest.core@default:default,org.junit@default:default,org.ops4j.pax.configmanager@default:default,org.ops4j.pax.logging.pax-logging-api@default:default,org.ops4j.pax.logging.pax-logging-service@default:default"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useCustomFeatures" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<stringAttribute key="workspace_bundles" value="ST4@default:default,antlr-runtime@default:default,com.tantaman.ferox.api@default:default,com.tantaman.ferox.server@default:default,com.tantaman.ferox.util@default:default,com.tantaman.ferox.webfinger@default:default,com.tantaman.ferox@default:default,com.tantaman.lo4j@default:default,ferox.remotestorage.auth_dummy@default:default,ferox.remotestorage.auth_manager.exposed.rest@default:default,ferox.remotestorage.auth_repo.mapdb@default:default,ferox.remotestorage.resource_provider.fs@default:default,ferox.remotestorage.server.standalone@default:default,ferox.remotestorage@default:default,ferox.webfinger.resource_provider.blank@default:default,netty-example@default:default,org.mapdb@default:default"/>
</launchConfiguration>
